<?xml version="1.0"?>
<!--
/**
 * Magenizr Envbar
 *
 * @copyright   Copyright (c) 2021 Magenizr (https://www.magenizr.com)
 * @license     https://www.magenizr.com/license Magenizr EULA
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magenizr_envbar>
            <general>
                <enabled>0</enabled>
            </general>
        </magenizr_envbar>
    </default>
</config>
