<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Magenizr Envbar
 *
 * @copyright   Copyright (c) 2021 - 2023 Magenizr (https://www.magenizr.com)
 * @license     https://www.magenizr.com/license Magenizr EULA
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="layout_load_before">
        <observer name="magenizr_envbar_addcss" instance="Magenizr\Envbar\Observer\Adminhtml\AddCss"/>
    </event>
</config>
